<div id="user" class="mui-container">

    <div id="title-bar" class="mui--text-left text-capitalize">
        <div class="mui-panel data-panel">
            <table width="100%">
                <tr>
                    <td>
                        <img class="" src="{{ picture.large }}"/>
                    </td>
                    <td>
                        <div>
                            <span class="mui--text-display1 ">{{ first_name }} {{ last_name }}</span>
                        </div>
                        <ul class="detail-list mui-list--unstyled mui--text-left mui--text-dark-secondary">
                            <li>
                                <div class="mui-row">
                                    <div class="column mui-col-md-3 mui--text-right">
                                        <strong>User:</strong>
                                    </div>
                                    <div class="column mui-col-md-9">
                                        {{username}}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="mui-row">
                                    <div class="column mui-col-md-3 mui--text-right">
                                        <strong>Email:</strong>
                                    </div>
                                    <div class="column mui-col-md-9">
                                        <span class="color-text-blue">{{email}}</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="mui-row">
                                    <div class="column mui-col-md-3 mui--text-right">
                                        <strong>Phone:</strong>
                                    </div>
                                    <div class="column mui-col-md-9">
                                        {{phone}}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="mui-row">
                                    <div class="column mui-col-md-3 mui--text-right">
                                        <strong>Cell:</strong>
                                    </div>
                                    <div class="column mui-col-md-9">
                                        {{cell}}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="mui-row">
                                    <div class="column mui-col-md-3 mui--text-right">
                                        <strong>Location:</strong>
                                    </div>
                                    <div class="column mui-col-md-9">
                                        {{street}}<br>
                                        {{city}} {{state}}, {{zip}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <td align="right">
                        <ul class="mui-list--inline mui--text-body2">
                            <li>
                                <div class="edit-btn mui-btn mui-btn--large mui-btn--primary mui-btn--fab modal-open" data-id="{{ id }}" data-action="edit">
                                    Edit
                                </div>
                            </li>
                            <li>
                                <div class="edit-btn mui-btn mui-btn--large mui-btn--danger mui-btn--fab modal-open" data-id="{{ id }}" data-action="delete">
                                    Delete
                                </div>
                            </li>
                        </ul>

                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>